Source: softcalc
Section: Games
Priority: optional
Maintainer: Boris Hatala <xhatal02@fit.vutbr.cz>
Build-Depends: debhelper (>= 13), dh-python, python3-all, python3-tk, python3-pip
Standards-Version: 4.6.0
Rules-Requires-Root: no
#XS-Python-Version: 3.10.6
#X-Python3-Version: 3.10.6

Package: softcalc
Architecture: any
Depends: ${misc:Depends}, ${python3:Depends}, python3-all, python3-tk, python3-pip
Description: Simple calculator made as a college project 
