[Desktop Entry]
Version=1.0
Categories=Game; Science
Exec=usr/share/applications/gui.py
GenericName=Simple Calculator
Icon=/usr/share/pixmaps/icon.png
Name=Softhorn Calculator
Type=Application
X-KDE-StartupNotify=false
