[Desktop Entry]
Version=1.0
Categories=Science
Exec=softcalc
GenericName=Simple Calculator
Icon=icon.png
Name=Softcalc
Type=Application
X-KDE-StartupNotify=false
Comment=Simple calculator with basic functions
